.hero-title {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	font-size: 6vw;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.1rem;
}
.hero-image-container {
	width: 100%;
	height: 100%;
	min-height: calc(60vh - 5.25rem);
	background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 601px) {
	.hero-image-container {
		min-height: calc(80vh - 5.25rem);
	}
}
@media screen and (max-width: 600px) {
	.hero-title {
		font-size: 12vw;
	}
}
